<div class="container-detail">

    <div class="container-detail-carrousel">
        <div class="container-detail-carrousel-fixed">
            <carrousel-product></carrousel-product>
            <product-icons class="container-icons"></product-icons>
        </div>
    </div>
    <div class="container-detail-info">
        <product-info></product-info>

        <product-icons class="container-icons-2"></product-icons>

        <div style="padding: 10px;">
            <h3>Choose you finish</h3>
            <product-radio-cards [cards]="cards"></product-radio-cards>
        </div>



        <div style="padding: 10px;">
            <h3>Would you like to add extended</h3>
            <product-radio-cards [cards]="cards2"></product-radio-cards>
        </div>

        <div style="padding: 10px;">

            <h3>Features</h3>
            <product-radio-cards [cards]="cards3"></product-radio-cards>

        </div>

        <div style="padding: 10px;">
            <div>
                <h3 class="title-border">Specification.</h3>
                <product-specifications></product-specifications>
            </div>
        </div>
    </div>
</div>


<div>
    <product-footer></product-footer>
</div>