.container-icons{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    &-text{
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        padding-right: 25px;
        padding-left: 25px;
        padding-top: 30px;
        justify-content: center;
        align-items: center;
    }

}

.icons-text{
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 30px;
}

.container-cards{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.radbox {
	position: relative;
	cursor: pointer;
	border: none;
    outline: none;
    margin: 10px;

	input[type='radio'] {
		display: none;
	}
	.rad-text {
		content: '';
		display: flex;
		flex-direction: column;
		border: 2px solid gray;
        border-radius: 15px;
		padding: 10px;
		color: black;
        font-weight: bold;
        width: 270px;
		span{
			color: gray;

        }
        &-price{
            display: flex;
            justify-content: space-between;
            span{
                width: 220px;
            }
        }
	}
}
input[type="radio"] {
	&:checked {
		+ {
			.rad-text {
				content: '';
				display: inline-flex;
                border: 2px solid #299FD8;
			}
		}
	}
}

.title-border{
    box-shadow: 0px 24px 3px -24px rgb(158, 156, 156);
}

.specifications-container{
    margin-bottom: 100px;
}