<div class="container-detail">

    <div class="container-detail-carrousel">
        <div class="container-detail-carrousel-fixed">
            <carrousel-product></carrousel-product>
            <product-icons class="container-icons"></product-icons>
        </div>
    </div>
    <div class="container-detail-info">
        <product-info></product-info>

        <product-icons class="container-icons-2"></product-icons>

        <div class="container-detail-info-cards">
            <h3>Choose you finish</h3>
            <product-radio-cards [cards]="cards" [rowCard]="true" (price)="emitPrice($event)"></product-radio-cards>
        </div>



        <div class="container-detail-info-cards">
            <h3>Would you like to add extended</h3>
            <product-radio-cards [cards]="cards2"  (price)="emitPrice($event)"></product-radio-cards>
        </div>

        <div class="container-detail-info-cards">

            <h3>Features</h3>
            <product-radio-cards [cards]="cards3" (price)="emitPrice($event)"></product-radio-cards>

        </div>

        <div class="container-detail-info-cards">
            <div>
                <h3 class="title-border">Specification.</h3>
                <product-specifications></product-specifications>
            </div>
        </div>
    </div>
</div>


<div>
    <product-footer [productPrice]="productPrice" [coverage]="coverage"></product-footer>
</div>