.container-cards{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}


.container-icons{
    display: none;
}


.radbox {
	position: relative;
	cursor: pointer;
	border: none;
    outline: none;
    margin: 10px;

	input[type='radio'] {
		display: none;
	}
	.rad-text {
		content: '';
		display: flex;
		flex-direction: column;
		border: 2px solid gray;
        border-radius: 15px;
		padding: 10px;
		color: black;
        font-weight: bold;
        min-width: 250px;
        span{
			color: gray;

        }
        &-price{
            display: flex;
            justify-content: space-between;
            span{
                width: 220px;
            }
        }
	}
}
input[type="radio"] {
	&:checked {
		+ {
			.rad-text {
				content: '';
                border: 2px solid #299FD8;
                min-width: 250px;

			}
		}
	}
}

.title-border{
    box-shadow: 0px 24px 3px -24px rgb(158, 156, 156);
}

.specifications-container{
    margin-bottom: 100px;
}



@media screen and (min-width: 1280px) {
    .container-detail{
        display: flex;
        &-carrousel{
            width: 50%;
    
        }
        &-info{
            width: 50%;
            padding: 40px 0;
        }
        
    }



}


@media screen and (min-width: 768px) {
    .container-icons{
        display: block;
    }

    .container-icons-2{
        display: none;
    }
}