<div class="container-icons">
    <div class="container-icons-text">
        <img src="https://assets.sennheiser.com/global-downloads/file/13872/touch.svg" alt="" width="200"
            height="44">
        <span class="icons-text">Customizable Touch Controls&nbsp;</span>
    </div>

    <div class="container-icons-text">

        <img src="https://assets.sennheiser.com/global-downloads/file/13870/noise_cancellation.svg" alt=""
            width="200" height="45">

        <span class="icons-text">Active Noise Cancellation</span>
    </div>

    <div class="container-icons-text">
        <img src="https://assets.sennheiser.com/global-downloads/file/13871/studio_monitoring.svg" alt=""
            width="200" height="50">
        <span class="icons-text">Built-in Equalizer</span>
    </div>

</div>
