<div class="tabset">
  <!-- Tab 1 -->
  <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
  <label for="tab1">Overview</label>
  <!-- Tab 2 -->
  <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
  <label for="tab2">Features</label>
  <!-- Tab 3 -->
  <input type="radio" name="tabset" id="tab3" aria-controls="dunkles">
  <label for="tab3">What´s in</label>

  <div class="tab-panels">
    <section id="marzen" class="tab-panel">
      <p>For the past 75 years, Sennheiser has put sound first. The new MOMENTUM True Wireless 2 is no different. Thanks
        to leading audio technology and innovation, these new earbuds deliver the best listening experience anytime,
        anywhere. With improved ergonomics designed for full day wearing and refined touch controls for a more
        personalised experience, they have been finely crafted for the most discerning listener and aim to simplify your
        life by enhancing your everyday.</p>
    </section>
    <section id="rauchbier" class="tab-panel">
      <p>From classical to contemporary, every music genre is enhanced by the bespoke 7 mm dynamic drivers of the new
        MOMENTUM True Wireless 2 earbuds thanks to its deep bass, natural mids and clear, detailed treble. Plus, you can
        now tailor your listening experience with built-in equalizers and enjoy amazing sound quality on your terms.</p>
    </section>
    <section id="dunkles" class="tab-panel">
      <p>Concentrate on the right thing at the right time with the MOMENTUM True Wireless 2.
        Switch off your surroundings and dive into that impactful song, important episode or impromptu call with the new
        Active Noise Cancellation feature. Working in tandem with the earbuds’ excellent passive noise isolation, you
        now get to enjoy incredible high-fidelity sound even in noisy environments.
        Then seamlessly bring your focus back and listen to what’s around you thanks to Transparent Hearing.</p>
    </section>
  </div>

</div>

