.container{
    font-weight: bold;
    ul { 
        list-style: none;
        li{
            width: 100%;
            border-bottom: 1px dotted #CCC;
            margin-bottom: 10px;
            padding-bottom: 10px;
        }
    }
    
}