<div class="footer-container">
    <div class="footer-container-warranty">
        <div class="footer-container-warranty-text">
            <h5>Free shipping</h5>
            <p>Get 2-day free shipping anywhere in North america</p>
        </div>
        <div class="footer-container-warranty-text">
            <h5>2 years warranty</h5>
            <p>if anything goes wrong in the first two years, we´ll replace it for free</p>
        </div>
    </div>

    <div class="footer-container-buy">
        <div class="footer-container-buy-text">
            <h2>${{productPrice + coverage}} </h2>
            <p>Need financing? learn more</p>
        </div>
        <div>
            <button class="footer-container-button">Buy Now</button>
        </div>
    </div>
</div>